* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #111827;

    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    padding: 40px;

    background: #ffffff;

    border-radius: 15px;

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #111827;
}

.input-box {
    width: 100%;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 14px;

    border: 1px solid #d1d5db;
    border-radius: 8px;

    font-size: 16px;

    outline: none;
}

.input-box input:focus {
    border-color: #2563eb;
}

button {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 8px;

    background: #2563eb;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}
.mensagem {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.cadastro-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.cadastro-link a {
    color: #2563eb;
    font-weight: bold;
    text-decoration: none;
}

.cadastro-link a:hover {
    text-decoration: underline;
}